.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b; 
}

.box {
    background-color: #3e3e3e; 
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
    border: 2px solid #8b000089; 
}

.gif {
    width: 480px;
    height: 270px;
    border: none;
    margin-bottom: 20px;
}

.NFound {
    font-size: 55px;
    font-weight: bold;
    color: #ffffff; 
    padding: 10px;
    border: 2px solid #8b000091; 
    border-radius: 10px;
    background-color: #8b0000; 
    display: inline-block;
}

