.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.input-form{
    width: 50%;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(33,33,33);
    border-color: red;
    color: white;
    
}

