
.populares_card {
    width: 300px;
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #2b2b2b; 
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    text-align: center;
    color: #ffffff; 
    overflow: hidden;
}

.populares_card:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); 
}

.imagen {
    width: 100%; 
    height: auto; 
    border-bottom: 3px solid #b30000; 
}

.title{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 20px ;
    color: #e0e0e0;
 
}


.more {
    background-color: #b30000; 
    color: #ffffff; 
    padding: 10px 20px;
    border-radius: 8px; 
    cursor: pointer;
    margin: 10px 0;
    border: none; 
}

.more:hover {
    background-color: #d32f2f;
    transform: scale(1.05); 
}

.extra {
    margin-top: 10px;
    background-color: #3e3e3ed5; 
    padding: 10px;
    border-radius: 8px;
    color: #e0e0e0; 
}

.extra.hidden {
    display: none;
}

button {
    background-color: #b30000; 
    color: #ffffff; 
    padding: 10px 20px;
    border-radius: 8px; 
    cursor: pointer;
    margin: 10px 5px;
    border: none; 
}

button:hover {
    background-color: #d32f2f; 
    transform: scale(1.05);
}
.text{
    font-size: 15px;
    color: #e0e0e0;
}
.pFav{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 5%;
    display: flex;
    justify-content: center;
    font-style: italic;
    min-height: 49vh;
}