.popularesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.caja {
    background-color: rgba(0, 0, 0, 0.578);
    max-width: 100%;
}

.title {
    color: white
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.input-form{
    width: 50%;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(33,33,33);
    border-color: red;
    color: white;
    
}
.formularioFiltro button {
    width: 20%
}
.pfilter{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 5%;
    display: flex;
    justify-content: center;
    font-style: italic;
    min-height: 39vh;
  
}