.header {
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #b30000;
    padding: 10px 20px;
    justify-content: space-between;

}

.main-nav {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.linkClass {
    color: #e0e0e0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
}

.logo {
    width: 10%;
    border-radius: 50%;
    margin: 5px;
}

.linkClass {
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.linkClass:hover {
    color: #b30000;
    text-decoration: none;
}

/* responsive: */
@media(max-width: 460px ) {
    .header{
        max-width: 100%;
    }
    .linkClass{
        font-size: small;
        padding: 5px;
    }
    .logo{
        width: 30%;
        margin:0px;
    }
    nav{
        flex-wrap: wrap;
    }
}